- python
- pandas-stubs
- pandas
- pandasql
- pandas-profiling
- pandas-datareader
- pandarallel
- notebook
- pymssql
- pymysql
- sqlalchemy-utils
- numpy
- numpy-base
- mistune
- visions
- r-readxl
- r-tablaxlsx
- r-writexls
- xlrd
- r-writexl
- xlsxwriter
- r-openxlsx
- r-progress
- r-hms
- r-pillar
- r-prettyunits
- r-pkgconfig
- urllib3
- r-r6
- r-crayon
- cryptography
- console_shortcut
- powershell_shortcut
- fastparquet
- category_encoders
- openpyxl
- jupyterlab
- fastapi
- uvicorn-standard
- nltk
- vadersentiment
- emoji
- fastapi
